# Build artifacts
/build/
/.gradle/
/out/
/bin/
/nbbuild/
/dist/
/nbdist/
/nbproject/private/
/.nb-gradle/
/*.log
*.class

# Gradle Wrapper
!gradle/wrapper/gradle-wrapper.jar

# IntelliJ
.idea/
*.iml
*.iws
*.ipr


# OS generated
.DS_Store
.Trash/
